<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- <nav class="bg-gray-800 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <div>
                    <a href="{% url 'main:home' %}" class="text-white hover:text-gray-400">Home</a>
                </div>
                <div>
                    <a href="{% url 'main:account' %}" class="text-white hover:text-gray-400">Account</a>
                </div>
            </div>
        </nav> -->
    </header>
    <main class="bg-gray-50">
        <div class="flex">
            <div class="w-[calc(30%-50px)] bg-gray-800 p-4 flex flex-col justify-between text-white" style="height: 100vh;">
                <div class="flex flex-col gap-5">
                    <a href="{% url 'main:home' %}">Home</a>
                    <a href="{% url 'planning:appointment_list' %}">Planning</a>
                    {% if user.roles == 'instructor' or user.roles == 'secretary' or user.roles == 'admin' %}
                    <a href="{% url 'main:student_list' %}">Student List</a>
                    {% endif %}
                    {% if user.roles == 'secretary' or user.roles == 'admin' %}
                    <a href="{% url 'main:instructor_list' %}">Instructor List</a>
                    {% endif %}
                </div>
                <div class="flex flex-col gap-5">
                    <a href="{% url 'main:account' %}" class="block mt-2">Account</a>
                    {% if 'admin' in user.roles or 'secretary' in user.roles %}
                    <a href="{% url 'main:settings' %}" class="block mt-2">Setting</a>
                    {% endif %}
                    <form method="post" action="{% url 'auth:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="block w-full text-left">Logout</button>
                    </form>
                </div>
            </div>
            <div class="w-3/4 p-6"
            >
                {% block content %}{% endblock %}
            </div>
          </div>
    </main>
</body>
</html>
